[submodule "3party/libtess2"]
  path = libtess2
  url = https://github.com/memononen/libtess2.git

[submodule "libs"]
  path = openFrameworks
  url = https://github.com/openframeworks/openFrameworks.git